a {
    color: black;
}


.photo-box {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
}


.photo-box-top-half {
    display: table-cell;
    background-color: black;
    width: 300px;
    height: 265px;
    border-bottom: 1px solid black;
    vertical-align: middle;
}

    .photo-box-thumbnail {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
    }


.photo-box-bottom-half {
    padding: 6px 0;
}

    .photo-box-field {
        display: inline-block;
        margin: 0 12px;
    }