{{ define "head" }}
    <title>andreimuntean</title>
    <link rel="stylesheet" type="text/css" href="assets/css/index.css" />
{{ end }}

{{ define "content" }}
    <section id="index">
        <h1>Hello World</h1>
        <div>
            <p>Welcome to andreimuntean.com!
            <p>You may also be interested in:
            <ul>
                <li><a href="https://github.com/andreimuntean">github.com/andreimuntean</a>
                <li><a href="https://instagram.com/_andreimuntean">instagram.com/_andreimuntean</a>
                <li><a href="https://linkedin.com/in/andreidev">linkedin.com/in/andreidev</a>
                <li><a href="https://facebook.com/archonus">plus.google.com/u/andreimuntean</a>
                <li><a href="https://twitter.com/_andreimuntean">twitter.com/_andreimuntean</a>
            </ul>
        </div>
    </section>
{{ end }}