{{ define "layout" }}
    <!doctype html>
    <html>
        <head>
            <meta charset="utf-8" />
            <meta name="description" content="The website of andreimuntean@." />
            <meta name="robots" content="index,follow" />
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" />
            <link rel="stylesheet" type="text/css" href="assets/css/layout.css" />
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-5089386830685380",
                    enable_page_level_ads: true
                });
            </script>
            {{ template "head" . }}
        </head>
        <body>
            <nav>
                <ul>
                    <li><a href="/photos">Photos</a></li>
                </ul>
            </nav>
            <header>
                <a href="/">
                    <h1>andreimuntean.com</h1>
                    <h2>Mostly a test website</h2>
                </a>
            </header>
            {{ template "content" . }}
            {{ template "scripts" . }}
            <ins class="adsbygoogle"
                data-ad-client="ca-pub-5089386830685380"
                data-ad-slot="6292352203"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </body>
    </html>
{{ end }}

// Set default values for optional blocks.
{{ define "scripts" }}{{ end }}
